chatbot.json
{
  "name": "chatbot",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -320,
        -16
      ],
      "id": "49de2fd8-3edc-4188-be1f-0a24280e884e",
      "name": "When chat message received",
      "webhookId": "113cb49a-fc1e-48bd-a55e-1d9dee356574"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query.message }}",
        "options": {
          "systemMessage": "You are an intelligent assistant that answers only based on the information from my personal portfolio.\n\nRules:\n- Respond clearly, concisely, and professionally.\n- Use only the content provided from the retrieved documents (my projects, experiences, education, skills).\n- If the information is not present in my files, politely say: \"I did not find this information in the portfolio.\"\n- Highlight my skills and achievements when relevant.\n- Do not make up or invent any information that is not included in the provided context.\n\nUser context:\nThe user wants to explore and ask questions about my portfolio, my experiences, my projects, and my skills.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "50a9eda8-6993-45a9-bf42-0e03f0480063",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        288,
        208
      ],
      "id": "9ba93c54-0d2f-47a9-acfd-795403f97176",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "JEOEPte6y27nuy5r",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "12"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        432,
        208
      ],
      "id": "5aacddf6-bb59-48f3-a471-af14ead3ce79",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "answer the user input for information about portfolio content"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        576,
        208
      ],
      "id": "4856a16b-ac0a-4f27-a7a8-eae3cf9e991c",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        752,
        368
      ],
      "id": "0cd07cf8-6c08-4b40-9ce6-f21b26e17957",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "JEOEPte6y27nuy5r",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "sample",
          "mode": "list",
          "cachedResultName": "sample"
        },
        "options": {
          "pineconeNamespace": "Portfolio"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        416,
        384
      ],
      "id": "b206e033-9c1f-4c7f-82fe-c817e12e6d8d",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "52uO6jxBgSS3i29d",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        224,
        512
      ],
      "id": "5d678774-6e74-4882-b88a-02c4e9d3497a",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "JEOEPte6y27nuy5r",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "path": "3d3f66c8-8cc2-4ad0-90c4-c64c8cbdef9d",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        32,
        0
      ],
      "id": "7210e683-7545-4871-a55b-07f82ee52713",
      "name": "Webhook",
      "webhookId": "3d3f66c8-8cc2-4ad0-90c4-c64c8cbdef9d"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=\n{{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        768,
        0
      ],
      "id": "50c417e0-a7a6-418b-8edd-d0c828501bbc",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        []
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f287db5b-4cc0-4129-83ed-8ba4928f40fb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6ae015e7a8146960dfe841042e8a79c0b059f1cd5fa5f759145a883da01019cb"
  },
  "id": "JMjcQmt8DZTmMcPM",
  "tags": []
}