Portfolio files.json
{
  "name": "Portfolio files",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "5e772824-53f1-4f75-96e6-45a279f90793",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "AnicetJonhia",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "chatbot-portfolio",
          "mode": "list",
          "cachedResultName": "chatbot-portfolio",
          "cachedResultUrl": "https://github.com/AnicetJonhia/chatbot-portfolio"
        },
        "filePath": "data/"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "218acf6e-d49c-49d5-93e3-8d28f4e68c51",
      "name": "List files",
      "webhookId": "51c69aff-a8bd-488a-b504-817514e606f7",
      "credentials": {
        "githubApi": {
          "id": "w9MqP6DxcdiJORRA",
          "name": "GitHub account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "36aacafc-1851-4e92-8d9f-b8b9d57ea8ac",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "={{$json[\"download_url\"]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        16
      ],
      "id": "ab0cd0d8-7fdf-46f2-a1d4-7b7dc9c7ef05",
      "name": "HTTP Request"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        784,
        -208
      ],
      "id": "76da5f5c-3f04-4eab-be66-498eca1e313b",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "sample",
          "mode": "list",
          "cachedResultName": "sample"
        },
        "embeddingBatchSize": 1,
        "options": {
          "pineconeNamespace": "Portfolio"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1056,
        -208
      ],
      "id": "566e93e2-b46e-4c67-953d-91423a00c655",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "52uO6jxBgSS3i29d",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1008,
        16
      ],
      "id": "83dd0555-0833-4c8b-9d0d-6ef256b05329",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "JEOEPte6y27nuy5r",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1152,
        16
      ],
      "id": "18a3208f-ac52-4b7a-a013-3e9011994549",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1152,
        224
      ],
      "id": "aa931d3a-514a-4f6c-9904-d133efefa524",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "List files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        []
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "30d0397a-cbbb-4750-a799-6a5e514fb356",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6ae015e7a8146960dfe841042e8a79c0b059f1cd5fa5f759145a883da01019cb"
  },
  "id": "mY4gugp2zTq22lyI",
  "tags": []
}